@{
  Layout = "_Layout";
}
<center>
 <h1>Welcome Pet Adoptation Place.</h1>
 <br>
 <br>
 <br>
 <hr/>
 <br>
 @* <h3>@Html.ActionLink("Create an account", "Index", "Account")</h3> *@
  <h3>@Html.ActionLink("Register", "Register","Account")</h3>
  <h3>@Html.ActionLink("Log in", "Login","Account")</h3>
 @* <h3>@Html.ActionLink("See all Pets", "Index", "Pets")</h3> 
 <h3>@Html.ActionLink("See all Customers", "Index", "Customers")</h3>
 <h3>@Html.ActionLink("Add a new Pet", "Create", "Pets")</h3> 
 <h3>@Html.ActionLink("Add a new Customer", "Create", "Customers")</h3>  *@
</center>