@{
  Layout = "_Layout";
}

@model PierrsTreatFlavor.Models.Treat

<h2>Update treat</h2>

<h3>Update this treat: Name: @Html.DisplayFor(model=>model.TreatName) Date of Baked: @Html.DisplayFor(model=>model.TreatBakedDate) Type: @Html.DisplayFor(model=>model.TreatType)</h3>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)

    <h3>Please enter  name:         @Html.TextBoxFor(model => model.TreatName )</h3>
    <h3>Please enter date of baked: @Html.EditorFor(model => model.TreatBakedDate, new { @type = "date" })</h3>
    <h3>Please enter type of treat @Html.TextBoxFor(model => model.TreatType)</h3>
    <h3><input type="submit" value="Update" /></h3>
}
<h3>@Html.ActionLink("Back to list", "Index")</h3>
